@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #ff5824;
  --black: #13131a;
  --bg: #fff8ee;
  --border: 0.1rem solid #ffa521;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

#more {display: none;}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #000;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading {
    color: var(--main-color);
    text-transform: uppercase;
}

#btn, .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 50px;
}

#btn:hover, .btn:hover{
    color: var(--main-color);
    background-color: #fff;
    transition: 5ms;
}



.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  /* width: 100px; */
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #000;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #000;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

.header .lang img{
    height: 2rem;
    width: 3rem;
    /* margin: 0 1rem; */
    margin-left: 2rem;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  /* background: rgba(255,200,35, 0.5); */
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
  background-color: #ffb520;
}

#search-box {
  background-color: #ffb520;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
  /* background: rgba(255,200,35, 0.5); */
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
  /* background: rgba(255,200,35, 0.5) */
}

.header .search-form label {
  color: var(--main-color);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section{
    padding: 2rem;
}
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #ffb520;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home{
      background-position: left;
      justify-content: center;
      text-align: center;
  }

  .home .content h3{
      font-size: 4.5rem;
  }

  .home .content p{
    font-size: 1.5rem;
}

}


@media (max-width:450px) {
    html {
      font-size: 50%;
    }  
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 80rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    /* font-weight: bold; */
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

.about .row{
    display: flex;
    align-items: center;
    background: #ce9160;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 2.5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img{
    height: 25rem;
}

.menu .box-container .box h3{
    color: #000;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #000;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box:hover{
    background: #ffe19a;
}

.menu .box-container .box:hover > *{
    color: #ff5824;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 20%;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #000;
    padding: 1rem 0;
}

.review .box-container .box .user{
    height: 10rem;
    width: 10rem;
    /* border-radius: 50%; */
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #000;
}

.contact .row{
    display: flex;
    /* align-items: center; */
    background: #f3ddb8;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 30px;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row .contacts{
    flex: 1 1 45rem;
    padding: 2rem 2rem;
    text-align: center;
}


.contact .row .contacts h4{
    text-transform: uppercase;
    font-size: 2rem;
    color: #000;
    padding: 1rem;
}

.contact .row .contacts span{
    text-transform: uppercase;
    font-size: 1.7rem;
    color: #ff5824;
    display: flex;
    justify-content: center;
}

.footer .share{
    padding:  0;
    margin: 0;
}

.footer .share a{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    color: #fff;
    border: #fff;
    margin: 1rem 2rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}


.footer{
    background: #ce9160;
    text-align: center;
}



.footer .credit{
    font-size: 1.5rem;
    color: #000;
    font-weight: lighter;
    padding: 1.5rem;
}

/* .footer .credit span{
    color: var(--main-color);
} */